# -*- encoding: utf-8 -*-
#
# Copyright 2014 Telefonica Investigación y Desarrollo, S.A.U
#
# This file is part of FI-WARE project.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
#
# You may obtain a copy of the License at:
#
#        http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
# WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#
# See the License for the specific language governing permissions and
# limitations under the License.
#
# For those usages not covered by the Apache version 2.0 License please
# contact with opensource@tid.es
#

[openstack]
OPENSTACK_URL: http://{KEYSTONE_IP}:5000/v2.0
ADM_USER: {ADM_USERNAME} 
ADM_PASS: {ADM_PASSWORD}
ADM_TENANT_ID: {ADM_TENANT_ID}
ADM_TENANT_NAME: {ADM_TENANT_NAME}
USER_DOMAIN_NAME: {OS_USER_DOMAIN_NAME}
AUTH_API: v2.0

[policy_manager]
SECURITY_LEVEL: LOW
SETTINGS_TYPE: production
DEFAULT_WINDOW_SIZE: 5
MAX_WINDOW_SIZE: 10
LOGGING_PATH: /var/log/fiware-cloto

[context_broker]
CONTEXT_BROKER_URL: http://130.206.115.92:1026/v1
NOTIFICATION_URL: http://127.0.0.1:5000/v1.0
NOTIFICATION_TYPE: ONTIMEINTERVAL
NOTIFICATION_TIME: PT5S

[rabbitmq]
RABBITMQ_URL: rabbit

[mysql]
DB_CHARSET: utf8
DB_HOST: mysql
DB_NAME: cloto
DB_USER: mysql
DB_PASSWD: mysql

[django]
DEBUG: False
DATABASE_ENGINE: django.db.backends.mysql
ALLOWED_HOSTS: ['127.0.0.1', 'localhost']
SECRET_KEY: jd9wdj8479yr98hw2r9w3huyr89w+amkdli3jur89

[logging]
level: INFO
